<% if logged_in? %>
  <h1>Welcome to the HK Travel</h1>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the HK Travel</h1>
    <h2>
      This is the home page for the
      <a>HK Travel</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
